@CHARSET "UTF-8";

html {
	min-width: 300px;
}

a {
    text-decoration: none;
}

.input-group {
    /* 	max-width: 1000px; */
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
}


/* index.jsp */
#title-div {
    text-align: center;
    background: silver;
    height: 250px;
    padding: 10px;
    background-image: url(../../resource/test.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 3px gray;	
}

#title-div h1 {
    padding-top: 120px;
    margin-top: 0px;
}

#title-div h4 {
    padding-top: 0px;
    margin-top: 0px;
}

.panel-group {
    margin-top: 10px;
}

.panel-title {
    text-align: center;
}

.panel-title>a {
	display: block;
	border: 0;
	outline: 0;
}

.panel-title>a:FOCUS {
	border: 0;
	outline: 0;
}

.panel-body {
	text-align: center;
	padding-bottom: 0;
}

