@CHARSET "UTF-8";

.rt-info {
	display: inline-block;
	flaot: left;
	width: 200px;
	height: 150px;
	color: black;
	margin-bottom: 25px;
	text-shadow: 2px 2px 2px gray;
}

.rt-info>p {
	font-size: 50px;
	font-weight: bold;
}

#environmental-refresh {
	width: 25px;
	height: 25px;
	float: right;
	border: 0;
	outline: 0;
	background-color: white;
	background-image: url("../../resource/refresh.png");
	background-size: 100%;
}

#environmental-refresh:active {
	opacity: 0.3;
}

#temperature {
	margin-left: 6%;
	margin-right: 3%;
}

#humidity {
	margin-left: 3%;
	margin-right: 6%	
}

#environmental-table .left {
	width: 45%;
	text-align: right;
	font-weight: bold;
	vertical-align: middle;
}

#environmental-table .right {
	width: 50%;
	text-align: left;
}

#environmental-text {
	text-align: center;
	padding: 10px;
	margin-left: 5%;
	margin-right: 5%;
}

#environmental-warning {
	text-align: center;
	padding: 10px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10px;
}

#environmental-submit {
	padding-left: 15px;
	padding-right: 15px;
}